{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "no-var": "error",
    "semi": [
      "error",
      "always"
    ],
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "interface"
    ]
  }
}